{{ form_start(form) }}
    {{ form_row(form.username) }}
    <div class="{% if usuario.id is null %}d-none{% endif %}">
        {{ form_row(form.passwordActual) }}
    </div>
    {{ form_row(form.password) }}
    {{ form_row(form.empleado) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
