{% import 'macro/actions.html.twig' as actions %}

{{ form_start(form) }}
{#    {{ form_widget(form) }}#}

    {{ form_row(form.fechaRegistro) }}
    {{ form_row(form.fechaEnvio) }}
    {{ form_row(form.cliente) }}
    {{ form_row(form.empleado) }}
    {{ actions.collection(form.detalles) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
