{% extends 'base.html.twig' %}

{% block title %}Edit Pedido{% endblock %}

{% form_theme form _self %}

{% block _pedido_detalles_entry_widget %}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.descripcion) }}</div>
        <div class="col-md-6">{{ form_row(form.peso) }}</div>
    </div>
{% endblock %}

{% block body %}
    <h1>Edit Pedido</h1>

    {{ include('pedido/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pedido_index') }}">back to list</a>

    {{ include('pedido/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/collection.js') }}"></script>
{% endblock %}
