{% import 'macro/actions.html.twig' as actions %}
{% extends 'base.html.twig' %}

{% block title %}Pedido index{% endblock %}

{% block body %}
    <h1>Pedido index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Fecha de Registro</th>
                <th>Fecha de Envío</th>
                <th>DNI Cliente</th>
                <th>Cliente</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Costo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.codigo }}</td>
                <td>{{ pedido.fechaRegistro ? pedido.fechaRegistro|date('Y-m-d') : '' }}</td>
                <td>{{ pedido.fechaEnvio ? pedido.fechaEnvio|date('Y-m-d') : '' }}</td>
                <td>{{ pedido.cliente.dni }}</td>
                <td>{{ pedido.cliente }}</td>
                <td>{{ pedido.ciudadOrigen }}</td>
                <td>{{ pedido.ciudadDestino }}</td>
                <td>{{ pedido.costoTotal }}</td>
                <td>
{#                    <a href="{{ path('app_pedido_show', {'id': pedido.id}) }}">show</a>#}
                    {{ actions.btn_show(path('app_pedido_show', {'id': pedido.id})) }}
                    {{ actions.btn_edit(path('app_pedido_edit', {'id': pedido.id})) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pedido_new') }}">Create new</a>
{% endblock %}
