{% extends 'base.html.twig' %}

{% block title %}New Pedido{% endblock %}

{% form_theme form _self %}

{% block _pedido_detalles_entry_widget %}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.descripcion) }}</div>
        <div class="col-md-3">{{ form_row(form.peso) }}</div>
        <div class="col-md-3">{{ form_row(form.costo) }}</div>
    </div>
{% endblock %}

{% block body %}
    <h1>Create new Pedido</h1>

    {{ include('pedido/_form.html.twig') }}

    <a href="{{ path('app_pedido_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/collection.js') }}"></script>
{% endblock %}
