{% extends 'base.html.twig' %}

{% block title %}New Pedido{% endblock %}

{% form_theme form _self %}

{% block _pedido_detalles_entry_widget %}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.descripcion) }}</div>
        <div class="col-md-3">{{ form_row(form.peso) }}</div>
        <div class="col-md-3">{{ form_row(form.costo) }}</div>
    </div>
{% endblock %}

{% block body %}
    <h1>Create new Pedido</h1>

    {{ include('pedido/_form.html.twig') }}

    <a href="{{ path('app_pedido_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/collection.js') }}"></script>
    <script>
        function pesos(peso) {
            if (peso <= 0) {
                return 0;
            }
            if (peso <= 2) {
                return 1;
            }
            if (peso <= 4) {
                return 2;
            }
            if (peso <= 8) {
                return 4;
            }

            return 10;
        }

        function calcularCostoTotal() {
            let suma = 0.00;
            $('.costo_input').each(function () {
                let valor = parseFloat($(this).val());
                suma += valor;
            });

            $('#pedido_costoTotal').val(suma);
        }

        $(document).ready(function() {
            $(document).on('change', '.peso_input', function() {
                let peso = parseFloat($(this).val());
                let costo = pesos(peso);
                const costoInput = $(this).closest('.collection_item').find('.costo_input');
                costoInput.val(costo);

                calcularCostoTotal();
            });
        })
    </script>
{% endblock %}
